SPOONACULAR_API_KEY=
SPOONACULAR_BASE_URL=https://api.spoonacular.com
RECIPE-API-HOST=spoonacular-recipe-food-nutrition-v1.p.rapidapi.com
RECIPE-API-KEY=
WORMS_BASE_URL=https://www.marinespecies.org/rest
MARLIN_BASE_URL=https://api.mba.ac.uk/marlin
